<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-01-12T07:58:25Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sunnypei/Desktop/王玥--大创/代码/YUEL/YUEL.xcworkspace</string>
</dict>
</plist>
